services:
  resource-db:
    image: postgres:17-alpine
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_DB=${RESOURCE_DB_NAME}
      - POSTGRES_PASSWORD=${RESOURCE_DB_PASSWORD}
      - POSTGRES_USER=${RESOURCE_DB_USERNAME}
    volumes:
      - ./init-scripts/resource-db:/docker-entrypoint-initdb.d:ro

  song-db:
    image: postgres:17-alpine
    ports:
      - "5434:5432"
    environment:
      - POSTGRES_DB=${SONG_DB_NAME}
      - POSTGRES_PASSWORD=${SONG_DB_PASSWORD}
      - POSTGRES_USER=${SONG_DB_USERNAME}
    volumes:
      - ./init-scripts/song-db:/docker-entrypoint-initdb.d:ro


  resource-service:
    build:
      context: ./resource-service
      dockerfile: Dockerfile
    ports:
      - "8081:8080"
    restart: on-failure
    depends_on:
      - resource-db


  song-service:
    build:
      context: ./song-service
      dockerfile: Dockerfile
    ports:
      - "8082:8080"
    restart: on-failure
    depends_on:
      - song-db
      - resource-db

